.forgotPassPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #020817;
}
.container {
  width: 380px;
  padding: 25px;
  border-radius: 10px;
  border: 3px solid #1e293b;
}

.header {
  padding: 16px;
  text-align: center;
  color: #e0e0e0;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.subtitle {
  margin-top: 8px;
  font-size: 14px;
  color: #b1b1b1;
}

.link {
  color: #1e88e5;
  font-weight: 500;
  text-decoration: underline;
  margin-left: 4px;
}

.formContainer {
  width: 330px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.formContainer > div {
  width: 100%;
}
.formContainer > div:nth-child(2) {
  text-align: center;
  margin-top: 16px;
}
.formContainer > div:nth-child(2) > button {
  width: 100%;
}
.form {
  margin-top: 20px;
}

.label {
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin-left: 4px;
  margin-bottom: 8px;
  color: rgb(236, 236, 236);
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #0966a8;
  outline: none;
  background: transparent;
  border-radius: 8px;
  font-size: 14px;
  color: #e0e0e0;
}
.input:focus {
  border: 1px solid #0986df;
}

.inputError {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.5rem;
}
