.btn {
  padding: 9px 18px;
  border-radius: 4px;
  color: #e6e6e6;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.btn > a {
  text-decoration: none;
  color: #e6e6e6;
}

@media screen and (max-width: 510px) {
  .btn {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
  }
}
