.btn {
  padding: 9px 18px;
  border-radius: 4px;
  color: #e6e6e6;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.btn > a {
  text-decoration: none;
  color: #e6e6e6;
}
