/* CSS for baseTheoryContainer */
.baseTheoryContainer {
  margin-top: 100px;
  width: 1250px;
  position: relative;
}

/* CSS for gradient bg */
.gradientLine {
  position: absolute;
  top: -0.5px;
  left: 50%;
  height: 1px;
  width: 80%;
  max-width: 500px;
  transform: translate(-50%, -50%) translateZ(0);
  pointer-events: none;
  user-select: none;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(2, 132, 199, 0.65) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

.gradientBackground {
  position: absolute;
  top: -1px;
  left: 50%;
  height: 200px;
  width: 100%;
  max-width: 300px;
  transform: translate(-50%, -50%) translateZ(0);
  pointer-events: none;
  user-select: none;
  background: conic-gradient(
      from 90deg at 50% 50%,
      rgb(0 0 0 / 0%) 50%,
      #020817 50%
    ),
    radial-gradient(rgb(62 73 219 / 23%) 0%, transparent 70%);
}
/* Optional media query for responsive max-width */
@media (min-width: 768px) {
  .gradientBackground {
    max-width: 600px;
  }
}

/* CSS for heading */
.baseTheoryHeading {
  text-align: center;
  margin-top: 40px;
}
.baseTheoryHeading h1 {
  font-size: 44px;
  color: #ffffff;
  background-image: -webkit-linear-gradient(90deg, #ffffff 38%, #0037ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.baseTheoryHeading p {
  margin-top: 10px;
  color: #d4d5d6;
  font-size: 20px;
}

/* CSS for Cards */
.baseTheoryCardsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: 50px;
}
.baseTheoryCardsContainer > div {
  padding: 25px;
  border-radius: 10px;
  min-height: 400px;
  background-color: #06122c4b;
  border: 2px solid rgba(209, 199, 253, 0.164);
}

.baseTheoryCardsContainer > div > div > img {
  max-width: 80px;
}
.baseTheoryCardsContainer > div > h2 {
  font-size: 28px;
  margin: 10px 0;
  font-weight: 800;
  color: #e6e6e6;
}
.baseTheoryCardsContainer > div > p {
  font-size: 18px;
  text-align: justify;
  color: #d4d5d6;
}

/* Extra Small Devices (phones) - Up to 576px wide: */
@media (max-width: 599.98px) {
  .baseTheoryContainer {
    max-width: 340px;
  }
  .baseTheoryCardsContainer {
    grid-template-columns: 1fr;
  }
  .baseTheoryHeading h1 {
    font-size: 28px;
  }
  .baseTheoryHeading p {
    font-size: 16px;
  }
  .baseTheoryCardsContainer > div {
    padding: 35px;
  }
  .baseTheoryCardsContainer > div > h2 {
    font-size: 22px;
  }
  .baseTheoryCardsContainer > div > p {
    font-size: 16px;
    text-align: left;
  }
}

/* Small Devices (tablets) - 576px to 767px wide: */
@media (min-width: 600px) and (max-width: 767.98px) {
  .baseTheoryContainer {
    max-width: 560px;
  }
  .baseTheoryCardsContainer {
    grid-template-columns: 1fr;
  }
  .baseTheoryHeading h1 {
    font-size: 28px;
  }
  .baseTheoryHeading p {
    font-size: 16px;
  }
  .baseTheoryCardsContainer > div {
    padding: 45px;
  }
  .baseTheoryCardsContainer > div > h2 {
    font-size: 24px;
  }
  .baseTheoryCardsContainer > div > p {
    font-size: 16px;
  }
}

/* Medium Devices (laptops) - 768px to 991px wide: */
@media (min-width: 768px) and (max-width: 999.98px) {
  .baseTheoryContainer {
    max-width: 750px;
  }
  .baseTheoryHeading h1 {
    font-size: 34px;
  }
  .baseTheoryHeading p {
    font-size: 17px;
  }
  .baseTheoryCardsContainer > div {
    padding: 35px;
  }
  .baseTheoryCardsContainer > div > h2 {
    font-size: 24px;
  }
  .baseTheoryCardsContainer > div > p {
    font-size: 16px;
  }
}

/* Large Devices (desktops) - 1000px to 1199px wide: */
@media (min-width: 1000px) and (max-width: 1199.98px) {
  .baseTheoryContainer {
    max-width: 950px;
  }
  .baseTheoryHeading h1 {
    font-size: 38px;
  }
  .baseTheoryHeading p {
    font-size: 18px;
  }
  .baseTheoryCardsContainer > div > h2 {
    font-size: 26px;
  }
  .baseTheoryCardsContainer > div > p {
    font-size: 17px;
  }
}

/* Extra Large Devices (large desktops) - 1200px and above: */
@media (min-width: 1200px) and (max-width: 1400px) {
  .baseTheoryContainer {
    max-width: 1150px;
  }
}
