.container {
  margin-top: 168px;
  min-height: 100vh;
  width: calc(100vw - 50px);
  overflow: hidden;
}

.header {
  margin: 0 auto;
  text-align: center;
  padding-top: 3rem;
  width: calc(100vw - 50px);
  /* max-width: 42rem; */
  position: relative;
  z-index: 10;
}

.gridBackground {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
}

.gridOverlay {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
      to right,
      rgba(79, 79, 79, 0.18) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(79, 79, 79, 0.18) 1px, transparent 1px);
  background-size: 14px 24px;
  mask-image: radial-gradient(
    ellipse 80% 50% at 50% 0%,
    #000 70%,
    transparent 110%
  );
}

.title {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 20px;
  /* padding-top: 0.75rem; */
  color: #ffffff;
  background-image: -webkit-linear-gradient(270deg, #ffffff 39%, #6f65fc 78%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
.ctaBtn {
  display: flex;
  justify-content: center;
}
.sparkleContainer {
  position: relative;
  margin-top: -8rem;
  height: 20rem;
  width: calc(100vw - 50px);
  overflow: hidden;
  mask-image: radial-gradient(50% 50%, white, transparent);
}

.sparkleContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(
    circle at bottom center,
    #369eff,
    transparent 90%
  );
  opacity: 0.8;
}

.sparkleContainer::after {
  content: "";
  position: absolute;
  left: -50%;
  bottom: 50%;
  aspect-ratio: 1 / 0.6;
  width: 200%;
  border-bottom: 1px solid rgba(125, 122, 214, 0.459);
  border-radius: 100%;
  /* background-color: #18181b; */
  background-color: #0f0f36;
}

.gridOverlaySparkles {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
      to right,
      rgb(255 255 255 / 12%) 1px,
      black 1px
    ),
    linear-gradient(to bottom, rgb(0 0 0 / 0%) 1px, #5742f552 1px);
  background-size: 70px 80px;
}

.sparkles {
  position: absolute;
  inset-x: 0;
  top: 0;
  height: 100%;
  width: 100%;
  mask-image: radial-gradient(50% 50%, #ffffffd4, transparent 85%);
}
.subtitleContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  width: 72%;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
}
.subtitleContainer > div {
  width: 100%;
  display: flex;
  justify-content: center;
}
.subtitleContainer > div > div {
  width: 100%;
  padding: 15px;
  background: rgba(78, 126, 248, 0.04);
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.4px);
  -webkit-backdrop-filter: blur(4.4px);
  border: 2px solid rgba(28, 38, 66, 0.678);
}
.subtitleContainer > div > div > h4 {
  margin-bottom: 10px;

  /** TEXT GRADIENT */
  color: #ffffff;
  background-image: -webkit-linear-gradient(90deg, #ffffff 32%, #4f42ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
.subtitleContainer > div > div > p {
  color: #dddfff;
  text-align: justify;
}

/* CSS for small devices */
@media (min-width: 1000px) and (max-width: 1249.98px) {
  .subtitleContainer {
    gap: 0.7rem;
    width: 85%;
  }
  .subtitleContainer > div > div {
    width: 95%;
  }
}

@media (min-width: 768px) and (max-width: 999.98px) {
  .header {
    padding-top: 1rem;
  }
  .subtitleContainer {
    gap: 0.7rem;
    width: 90%;
  }
  .subtitleContainer > div > div {
    width: 100%;
  }
  .title {
    font-size: 38px;
  }
  .subtitleContainer > div > div > p {
    font-size: 15px;
    text-align: start;
  }
}

@media (min-width: 600px) and (max-width: 767.98px) {
  .header {
    padding-top: 1rem;
  }
  .subtitleContainer {
    gap: 0.4rem;
    width: 95%;
  }
  .subtitleContainer > div > div {
    width: 100%;
  }
  .title {
    font-size: 28px;
  }
  .subtitleContainer > div > div > p {
    font-size: 15px;
    text-align: start;
  }
}
@media (max-width: 599.98px) {
  .header {
    padding-top: 0;
  }
  .title {
    font-size: 1.2rem;
  }
  .subtitleContainer {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    width: 95%;
  }
  .subtitleContainer > div > div {
    width: 100%;
  }
}
/* 
sparkle theme variation
gridOverlay: background-image: linear-gradient(to right, rgb(255 255 255 / 12%) 1px, black 1px), linear-gradient(to bottom, rgb(0 0 0 / 0%) 1px, #5742f552 1px);

sparkle container: border-bottom: 1px solid rgba(125, 122, 214, 0.459);
*/
