/* CSS for signUp container */
.signUpContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #020817;
}

/* CSS for form container */
.formContainer {
  border: 3px solid #1e293b;
  padding: 30px;
  border-radius: 10px;
}
.formContainer h2 {
  text-align: center;
  color: #f8fafc;
}

/* CSS for form inputs */
.formContainer > form > div {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}
.formContainer > form > div:not(:last-child) > p {
  font-size: 14px;
  color: #ff2865;
}

.formContainer > form > div:not(:last-child) > span {
  color: #ff2865;
}

.inputField {
  width: 300px;
  /* height: 35px; */
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.inputField::placeholder {
  color: transparent;
}

.inputField:placeholder-shown ~ .formLabel {
  font-size: 1rem;
  cursor: text;
  top: 20px;
}

.formLabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}
.inputField:focus ~ .formLabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
}

.inputField:focus {
  padding-bottom: 6px;
  font-weight: 600;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
.inputField:required,
.inputField:invalid {
  box-shadow: none;
}

.termsBox label {
  margin-left: 3px;
  color: #f8fafc;
}
.termsBox label a {
  color: rgb(73, 73, 228);
}
.submitBtn button {
  width: 300px;
  height: 35px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  border: transparent;
  background: dodgerblue;
  color: #f8fafc;
  cursor: pointer;
  transition: button 0.3s ease-in-out;
}
.submitBtn button:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(30, 144, 255, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}
.submitBtn p {
  text-align: center;
  margin-top: 5px;
  color: #f8fafc;
}
.submitBtn p a {
  color: rgb(74, 74, 231);
}
/* CSS for mobile devices */
@media (max-width: 599.98px) {
  .inputField {
    width: 280px;
    height: 35px;
  }
  .submitBtn button {
    width: 280px;
    height: 35px;
  }

  .termsBox label {
    font-size: 14.5px;
  }
}
