/* CSS for tutorial container */
.tutorialsContainer {
  width: 1250px;
  max-height: 800px;
}

/* CSS for tutorial text container */
.tutorialsTextContainer {
  text-align: center;
}

.tutorialsTextContainer h1 {
  font-size: 44px;
  color: #e6e6e6;
}
.tutorialsTextContainer p {
  font-size: 20px;
  color: #d4d5d6;
  margin-top: 20px;
}
.tutorialsTextContainer h1 > span {
  color: #4989f7;
}

/* CSS for tutorial video container */
.tutorialsVideoContainer {
  text-align: center;
  margin-top: 50px;
}
.tutorialsVideoContainer video {
  max-width: 70%;
  max-height: 500px;
  cursor: pointer;
  border: 3px solid #4989f7;
  border-radius: 10px;
}

/* CSS to make it responsive for all devices */
@media (max-width: 599.98px) {
  .tutorialsContainer {
    max-width: 350px;
  }
  .tutorialsTextContainer h1 {
    font-size: 24px;
  }
  .tutorialsTextContainer p {
    font-size: 16px;
  }
  .tutorialsVideoContainer video {
    max-width: 90%;
  }
}
/* Small Devices (tablets) - 576px to 767px wide: */
@media (min-width: 600px) and (max-width: 767.98px) {
  /* CSS rules for small devices */

  .tutorialsContainer {
    max-width: 550px;
  }
  .tutorialsTextContainer h1 {
    font-size: 28px;
  }
  .tutorialsTextContainer p {
    font-size: 16px;
  }
}

/* Medium Devices (laptops) - 768px to 991px wide: */
@media (min-width: 768px) and (max-width: 999.98px) {
  /* CSS rules for medium devices */
  .tutorialsContainer {
    max-width: 700px;
  }
  .tutorialsTextContainer h1 {
    font-size: 34px;
  }
  .tutorialsTextContainer p {
    font-size: 17px;
  }
}

/* Large Devices (desktops) - 1000px to 1199px wide: */
@media (min-width: 1000px) and (max-width: 1249.99px) {
  .tutorialsContainer {
    max-width: 1000px;
  }
  .tutorialsTextContainer h1 {
    font-size: 34px;
  }
  .tutorialsTextContainer p {
    font-size: 18px;
  }
}
