.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  z-index: 100;
  transition: all 0.3s ease;
}

.navBar {
  position: relative;
  height: 100%;
  max-width: 1250px;
  /* width: 100%; */
  padding: 10px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(75, 103, 173, 0.363);
  border-radius: 6px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
}

.sticky .navLinks li:not(:last-child) a {
  color: #e6e6e6;
  transition: all 0.4s ease;
}

.sidebarOpen {
  color: #e6e6e6;
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

.logo a img {
  max-width: 180px;
  height: 40px;
}

.logoToggle {
  display: none;
}

.navLinks {
  display: flex;
  align-items: center;
}

.navLinks > li {
  margin: 0 5px;
  list-style: none;
}

.navLinks > li:not(:last-child) a {
  position: relative;
  font-size: 18px;
  font-weight: 500;
  color: #e6e6e6;
  text-decoration: none;
  padding: 6px 12px;
}

.navLinks > li:not(:last-child) a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 2px;
  width: 2px;
  border-radius: 20%;
  background-color: #4d87f6;
  opacity: 0;
  transition: all 0.4s ease;
}

.navLinks > li:not(:last-child):hover a::before {
  opacity: 1;
  width: 45px;
}

.profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  background-color: transparent;
  border: 2px solid rgba(75, 103, 173, 0.563);
  outline: none;
  border-radius: 50%;
  cursor: pointer;
}
.profile img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

/* Responsive CSS for all device */
@media (max-width: 820px) {
  .sidebarOpen {
    display: block;
  }

  .menu {
    position: fixed;
    height: 50vh;
    min-height: 400px;
    width: 300px;
    left: -100%;
    top: 0;
    padding: 20px;
    z-index: 100;
    transition: all 0.4s ease;
    background: rgba(1, 0, 31, 0.95);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    border: 1px solid rgba(54, 56, 136, 0.5);
  }

  .active .menu {
    left: 0;
  }
  .active .navBar {
    border: none;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
  }

  .active .navLogo a {
    opacity: 0;
    transition: all 0.3s ease;
  }

  .logoToggle {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sidebarClose {
    color: #e6e6e6;
    font-size: 24px;
    cursor: pointer;
  }

  .navLinks {
    flex-direction: column;
    padding-top: 30px;
  }

  .navLinks > li:not(:last-child) a {
    display: block;
    margin-top: 20px;
  }
  .navLinks > li:last-child {
    margin-top: 20px;
  }
}

@media (min-width: 600px) and (max-width: 767.98px) {
  .navBar {
    max-width: 560px;
  }
}
/* Medium Devices (laptops) - 768px to 999px wide: */
@media (min-width: 768px) and (max-width: 999.98px) {
  .navBar {
    max-width: 750px;
  }
}
/* Large Devices (desktops) - 1000px to 1199px wide: */
@media (min-width: 1000px) and (max-width: 1199.98px) {
  .navBar {
    max-width: 950px;
  }
}

/* Extra Large Devices (large desktops) - 1200px and above: */
@media (min-width: 1200px) and (max-width: 1400px) {
  /* CSS for Hero Container */
  .navBar {
    max-width: 1150px;
  }
}
