.notification {
  position: fixed; /* Use fixed positioning */
  top: 20px;
  right: 20px;
  background-color: white;
  color: black;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 16px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  animation: slideIn 0.3s ease-out;
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

/* icons style */

.error,
.success,
.warning {
  font-size: 2rem;
  border-radius: 50%;
  padding: 2px;
}
.success {
  color: rgb(0, 185, 15);
}
.error {
  color: rgb(255, 2, 78);
}
.warning {
  color: rgb(161, 110, 0);
}

.title {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.message {
  font-size: 0.8rem;
  margin: 0;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
