.rowMenuContainer,
.nestedList {
  width: max-content;
  height: max-content;
  padding: 12px 8px;
  background-color: #141e3b;
  color: #d4d4d4;
  border: 1px solid #343463;
  border-radius: 6px;
}

.rowMenuContainer > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  margin: 0;
}

.rowMenuContainer > ul > li {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  position: relative;
}

/* Add a separator between list items */
.rowMenuContainer > ul > li:not(:last-child)::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #343463;
}

/* Hover effect for list items */
.rowMenuContainer > ul > li:hover {
  background-color: #141e3b;
  border-radius: 4px;
}
/* Hover effects for desktop */
@media (hover: hover) and (pointer: fine) {
  .rowMenuContainer > ul > li:hover {
    background-color: #1a274d;
  }

  .markAsFav:hover > * {
    color: rgb(243, 0, 142);
  }

  .markHard:hover > * {
    color: red;
  }

  .rowMenuContainer > ul > li:last-child:hover {
    color: red;
    background-color: #ff00001f;
  }
  .parentMenuItem:hover .sparkleIcon {
    color: rgb(229, 100, 255);
  }
}

[data-icon="favorite"] {
  color: rgb(243, 0, 142);
}

[data-icon="hard"] {
  color: red;
}

.parentMenuItem {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  transition: background-color 0.2s;
  user-select: none;
}

.parentMenuItem:hover {
  background-color: #f5f5f5;
}
.sparkleIcon {
  transform: scale(1.3);
}
.arrowIcon {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  transition: transform 0.2s;
}

.nestedList {
  position: absolute;
  top: 0;
  left: 108%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 14px;
  list-style: none;
  z-index: 1;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.inputWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  position: relative;
  padding-left: 32px;
}

.nestedList.closing {
  opacity: 0;
  visibility: hidden;
  transition-delay: 0s;
}

.parentMenuItem:not(:hover) .nestedList:not(.closing) {
  transition-delay: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.inputWrapper input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.checkmark {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  border: 2px solid #ccc;
  border-radius: 6px;
  transition: all 0.2s;
}

.inputWrapper:hover input ~ .checkmark {
  border-color: #2196f3;
}

.inputWrapper input:checked ~ .checkmark {
  background: #2196f3;
  border-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.inputWrapper input:checked ~ .checkmark:after {
  display: block;
}

.nestedList > li:last-child {
  margin-top: 6px;
}

@media (max-width: 1000px) {
  .nestedList {
    left: auto;
    right: 108%;
    top: 0;
    transition: none;
  }
}

@media (max-width: 600px) {
  .rowMenuContainer,
  .nestedList {
    padding: 10px 6px;
    font-size: 14px;
  }
  .rowMenuContainer > ul > li {
    padding: 4px;
  }
  .arrowIcon {
    font-size: 1em;
  }
  .inputWrapper {
    gap: 12px;
    padding-left: 28px;
  }
  .checkmark {
    height: 16px;
    width: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .checkmark:after {
    left: 4px;
    top: 0px;
    width: 4px;
    height: 10px;
  }
}
