/* my space page style */
.myspacePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #020817;
}

/* my space container style */
.myspaceContainer {
  width: 100%;
  max-width: 1250px;
  min-height: calc(100vh - 250px);
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 50px;
  box-sizing: border-box;
}

/* Style for my space heading */
.mySpaceHeading {
  width: 100%;
  min-width: 300px;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* style for my space content */
.mySpaceContent {
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 15px;
  row-gap: 64px;
  color: #fff;
}
.mySpaceContent > div {
  flex: 0 0 calc(33.333% - 10px);
  max-width: calc(33.333% - 10px);
  box-sizing: border-box;
  /* overflow: hidden; */
  position: relative;
}

.mySpaceContent > div:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -8px;
  width: 1px;
  height: 100%;
  border-right: 1px dashed #7f8cff9a;
}

.sevenDayHeading,
.threeDayHeading,
.flexibleLHeading {
  text-align: center;
}
.sevenDayContent,
.threeDayContent,
.flexibleLContent {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
}

/* card style */
.milestoneCard {
  min-width: 190px;
  color: #fff;
  background: rgba(2, 2, 34, 0.19);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 1px solid rgb(39, 39, 78);
  transition: all 1s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.milestoneCard:hover {
  border: 1px solid rgb(71, 68, 141);
}

.milestoneMainContent {
  /* min-width: 175px; */
  border-radius: 12px;
  padding: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.milestoneNum p {
  font-size: 1rem;
  font-weight: 500;
  color: #e3e8ff;
}

.wordVerdict p {
  font-size: 15px;
  font-weight: 500;
  padding: 0 1px;
}

.wordVerdict p:first-child {
  background: rgb(0, 89, 6);
  background: linear-gradient(
    180deg,
    rgba(0, 89, 6, 0) 33%,
    rgba(0, 77, 1, 0.9808298319327731) 100%
  );
  border-radius: 4px;
  color: #02c70c;
  margin-bottom: 4px;
}

.wordVerdict p:last-child {
  background: rgb(89, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(89, 0, 0, 0) 33%,
    rgba(89, 0, 0, 0.9808298319327731) 100%
  );
  border-radius: 4px;
  color: #d10404;
}

.milestoneCardLastEdit {
  color: #a9c6ffb4;
  font-size: 12px;
  padding: 8px;
  word-break: break-word;
}

/* Media query for smaller screens */
@media (min-width: 1200px) and (max-width: 1400px) {
  .myspaceContainer {
    max-width: 1150px;
  }
  .milestoneCard {
    min-width: 175px;
  }
}

@media (min-width: 1000px) and (max-width: 1199.98px) {
  .myspaceContainer {
    max-width: 950px;
  }
  .mySpaceContent > div {
    flex: 0 0 calc(50% - 7.5px);
    max-width: calc(50% - 7.5px);
  }
  .mySpaceContent > div:nth-child(2)::after {
    content: none;
  }
}

@media (min-width: 768px) and (max-width: 999.98px) {
  .myspaceContainer {
    max-width: 750px;
  }
  .mySpaceContent > div {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .mySpaceContent > div:not(:last-child)::after {
    content: none;
  }
  .milestoneCard {
    min-width: 290px;
  }
}
@media (max-width: 767.98px) {
  .myspaceContainer {
    max-width: 560px;
  }
  .mySpaceContent {
    justify-content: center;
  }
  .mySpaceContent > div {
    flex: 0 0 calc(100% - 32px);
    max-width: 100%;
  }
  .mySpaceContent > div:not(:last-child)::after {
    content: none;
  }
  .sevenDayContent,
  .threeDayContent,
  .flexibleLContent {
    flex-direction: column;
    align-items: center;
  }
  .milestoneCard {
    min-width: 290px;
  }
}
