.card {
  position: relative;
  width: 16rem;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.75rem;
  padding: 1rem;
  background: linear-gradient(
    25deg,
    rgba(72, 73, 148, 0) 0%,
    rgba(152, 191, 254, 0.12) 100%
  );
  color: #fff;
  border: 1px solid #293b69;
}

.card:hover {
  background-color: rgba(3, 7, 18, 0.05);
}

.avatar {
  border-radius: 50%;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.name {
  font-size: 0.875rem;
  font-weight: 500;
  color: #eeeeee;
}

.username {
  font-size: 0.75rem;
  font-weight: 500;
  color: rgba(231, 231, 231, 0.562);
}

.quote {
  margin-top: 0.5rem;
  font-size: 0.875rem;
}
