.table,
.tableHeaderCell,
.tableRowsCell {
  color: #d0d0d1;
  border: 1px solid #1b243f;
  border-collapse: collapse;
}

.tableHeaderCell {
  padding: 10px 6px;
}

.tableRowsCell {
  box-sizing: border-box;
  position: relative;
}

.addNewWord {
  width: 100%;
  text-align: center;
}

.addNewWord > button {
  visibility: hidden;
  width: 100%;
  padding: 4px 0;
  margin-top: 4px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: #10172b;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease, background-color 0.3s ease;
}

.table:hover + .addNewWord > button {
  visibility: visible;
  opacity: 1;
}
.addNewWord:hover > button {
  visibility: visible;
  background-color: #172342;
  opacity: 1;
}

.row {
  position: relative;
}
.rowAction {
  visibility: hidden;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  height: 26px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10172b;
  color: #ebebeb;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}
.row:hover .rowAction {
  visibility: visible;
}
.rowAction:hover {
  background-color: #1c294d;
}

/* skelton style */
.tableSkeleton {
  box-sizing: border-box;
}
.rowSkeleton {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}
