/* CSS for signUp container */
.signInContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #020817;
  position: relative;
}
/* CSS for back hom e button */
.backToHomeButton {
  position: absolute;
  left: 100px;
  top: 100px;
}

/* CSS for form container */
.formContainer {
  border: 3px solid #1e293b;
  padding: 30px;
  border-radius: 10px;
}
.formContainer h2 {
  text-align: center;
  color: #f8fafc;
}

/* CSS for form inputs */
.formContainer > form > div {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}
.formContainer > form > div:not(:last-child) > p {
  font-size: 14px;
  color: #ff2865;
}

.inputField {
  width: 300px;
  /* height: 35px; */
  border: 0;
  border-bottom: 2px solid #1e293b;
  outline: 0;
  font-size: 15px;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.inputField::placeholder {
  color: transparent;
}

.inputField:placeholder-shown ~ .formLabel {
  font-size: 15px;
  cursor: text;
  top: 20px;
}

.formLabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 15px;
  color: #8d8d8d;
}
.inputField:focus ~ .formLabel {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 15px;
  color: #9aa4ff;
  font-weight: 500;
}

.inputField:focus {
  padding-bottom: 6px;
  font-weight: 500;
  border-width: 3px;
  border-image: linear-gradient(to left, #1735b8, #2fa5e9);
  border-image-slice: 1;
}
.inputField:required,
.inputField:invalid {
  box-shadow: none;
}
/* set chrome auto-fill bg color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: rgb(255, 255, 255) !important;
  caret-color: rgb(255, 255, 255) !important;
}
.passwordSection {
  display: flex;
  flex-direction: column;
}
.forgotPass {
  align-self: self-end;
  margin-top: 4px;
}
.termsBox label {
  margin-left: 3px;
  color: #f8fafc;
}
.termsBox label a {
  color: rgb(73, 73, 228);
}
.submitBtn button {
  width: 300px;
  height: 35px;
  border-radius: 4px;
  font-size: 15px;
  border: transparent;
  background: dodgerblue;
  color: #f8fafc;
  cursor: pointer;
  transition: button 0.3s ease-in-out;
}
.submitBtn button:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(30, 144, 255, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #f8fafc;
  margin: 8px 0;
}
.separator::before,
.separator::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #ccc;
  margin: 0 10px;
}

.submitBtn p:last-child {
  text-align: center;
  margin-top: 12px;
  color: #f8fafc;
}
.submitBtn p a {
  color: rgb(95, 95, 255);
}
/* CSS for mobile devices */
@media (max-width: 599.98px) {
  .inputField {
    width: 280px;
    height: 35px;
  }
  .backToHomeButton {
    left: 50px;
    top: 50px;
  }
  .submitBtn button {
    width: 280px;
    height: 35px;
  }

  .termsBox label {
    font-size: 14.5px;
  }
}
