/* CSS for signUp container */
.signUpContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #020817;
  position: relative;
}
/* CSS for back hom e button */
.backToHomeButton {
  position: absolute;
  left: 100px;
  top: 100px;
}
.backToHomeButton a {
  padding: 6px 12px;
  background-color: #4989f7;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
/* CSS for form container */
.formContainer {
  border: 3px solid #1e293b;
  padding: 30px;
  border-radius: 10px;
}
.formContainer h2 {
  text-align: center;
  color: #f8fafc;
}

/* CSS for form inputs */
.formContainer > form > div {
  margin: 10px 0;
}
.formContainer > form > div:not(:last-child) > label {
  font-size: 16px;
  color: #f8fafc;
}

.formContainer > form > div:not(:last-child) > span {
  color: #ff2865;
}

.formContainer > form > div:not(:last-child) > p {
  font-size: 14px;
  color: #ff2865;
}

.formContainer > form > div:not(:nth-last-child(-n + 1)) > input {
  width: 300px;
  height: 35px;
  background-color: #c4c0f1;
  padding: 5px;
  margin-top: 5px;
  font-size: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
}
.formContainer > form > div:not(:nth-last-child(-n + 1)) > input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.submitBtn button {
  border-radius: 4px;
  width: 300px;
  height: 35px;
  margin-top: 15px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  border: transparent;
  background: dodgerblue;
  color: #f8fafc;
  cursor: pointer;
  transition: button 0.3s ease-in-out;
}
.submitBtn button:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(30, 144, 255, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}
.submitBtn p {
  text-align: center;
  margin-top: 5px;
  color: #f8fafc;
}
.submitBtn p a {
  color: rgb(72, 72, 236);
}
/* CSS for mobile devices */
@media (max-width: 599.98px) {
  .formContainer > form > div:not(:nth-last-child(-n + 1)) > input {
    width: 280px;
    height: 35px;
  }
  .backToHomeButton {
    left: 50px;
    top: 50px;
  }
  .submitBtn button {
    width: 280px;
    height: 35px;
  }

  .termsBox label {
    font-size: 14.5px;
  }
}
