/* words section style */
.wordsHeading {
  width: 1250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 22px;
  background: transparent;
  border-bottom: 2px solid #1d2b4dda;
}

.wordColumn {
  width: 170px;
  flex-shrink: 0;
}
.wordColumn,
.meaningColumn,
.synonymColumn,
.engDefinitionColumn {
  position: relative;
}
.wordColumn::after,
.meaningColumn::after,
.synonymColumn::after,
.engDefinitionColumn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background-color: #2553c5;
  cursor: col-resize;
}
.meaningColumn {
  width: 225px;
  flex-shrink: 0;
  margin-left: 10px;
}

.synonymColumn {
  width: 225px;
  flex-shrink: 0;
  margin-left: 10px;
}

.engDefinitionColumn {
  width: 280px;
  flex-shrink: 0;
  margin-left: 10px;
}

.exmInSenColumn {
  flex-grow: 1;
  margin-left: 10px;
}

/* Adjust proportions when synonymColumn is absent */
.wordsHeading:not(:has(.synonymColumn)) {
  --extra-space: 225px;
}

.wordsHeading:not(:has(.synonymColumn)) .wordColumn {
  width: calc(170px + var(--extra-space) / 7);
}

.wordsHeading:not(:has(.synonymColumn)) .meaningColumn {
  width: calc(225px + var(--extra-space) / 5);
}

.wordsHeading:not(:has(.synonymColumn)) .engDefinitionColumn {
  width: calc(280px + var(--extra-space) / 4);
}

.wordsHeading:not(:has(.synonymColumn)) .exmInSenColumn {
  width: calc(300px + var(--extra-space) / 3);
}

/* Adjust proportions when engDefinitionColumn is absent */
.wordsHeading:not(:has(.engDefinitionColumn)) {
  --extra-space: 280px;
}

.wordsHeading:not(:has(.engDefinitionColumn)) .wordColumn {
  width: calc(170px + var(--extra-space) / 7);
}

.wordsHeading:not(:has(.engDefinitionColumn)) .meaningColumn {
  width: calc(225px + var(--extra-space) / 5);
}

.wordsHeading:not(:has(.engDefinitionColumn)) .synonymColumn {
  width: calc(225px + var(--extra-space) / 4);
}

.wordsHeading:not(:has(.engDefinitionColumn)) .exmInSenColumn {
  width: calc(300px + var(--extra-space) / 3);
}

/* Adjust proportions when both synonymColumn and engDefinitionColumn are absent */
.wordsHeading:not(:has(.synonymColumn)):not(:has(.engDefinitionColumn)) {
  --extra-space: 475px;
}

.wordsHeading:not(:has(.synonymColumn)):not(:has(.engDefinitionColumn))
  .wordColumn {
  width: calc(170px + var(--extra-space) / 7);
}

.wordsHeading:not(:has(.synonymColumn)):not(:has(.engDefinitionColumn))
  .meaningColumn {
  width: calc(225px + var(--extra-space) / 4);
}

.wordsHeading:not(:has(.synonymColumn)):not(:has(.engDefinitionColumn))
  .exmInSenColumn {
  width: calc(300px + var(--extra-space) / 3);
}

.words {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
