/* Wrapper for the entire words section */

.table,
.tableHeaderCell,
.tableRowsCell {
  color: #d0d0d1;
  border: 1px solid #1b243f;
  border-collapse: collapse;
}
.tableHeaderCell {
  padding: 10px 6px;
}
