.milestonePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #020817;
  color: #f8fafc;
}
.milestoneContent {
  width: 100%;
  max-width: 1250px;
  min-height: calc(100vh - 450px);
  margin: 120px auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 16px;
  box-sizing: border-box;
}

/* milestone  heading style*/
.milestoneHeading {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.milestoneNameInput {
  font-size: 32px;
  padding: 5px 10px 12px 10px;
  font-weight: 800;
  background-color: transparent;
  color: #fff;
  outline: none;
  border: 1px solid #1e2744e5;
  border-radius: 4px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #1a2541ea;
}
