.wordContainer {
  width: 1250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border-bottom: 1px solid #1d2b4dda;
  padding: 10px;
  background: #0f16296b;
  color: rgb(226, 226, 226);
}
.word {
  width: 170px;
  flex-shrink: 0;
}

.word,
.meaning,
.synonym,
.engDefinition {
  position: relative;
}
.word::after,
.meaning::after,
.synonym::after,
.engDefinition::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;
  width: 2px;
  height: 60%;
  background-color: #1d2b4dda;
  cursor: col-resize;
}

.meaning {
  width: 225px;
  flex-shrink: 0;
  margin-left: 10px;
}

.synonym {
  width: 225px;
  flex-shrink: 0;
  margin-left: 10px;
}

.engDefinition {
  width: 280px;
  flex-shrink: 0;
  margin-left: 10px;
}

.exmInSen {
  flex-grow: 1;
  margin-left: 10px;
}

/* Adjust proportions when synonym is absent */
.wordContainer:not(:has(.synonym)) {
  --extra-space: 225px;
}

.wordContainer:not(:has(.synonym)) .word {
  width: calc(170px + var(--extra-space) / 7);
}

.wordContainer:not(:has(.synonym)) .meaning {
  width: calc(225px + var(--extra-space) / 5);
}

.wordContainer:not(:has(.synonym)) .engDefinition {
  width: calc(280px + var(--extra-space) / 4);
}

.wordContainer:not(:has(.synonym)) .exmInSen {
  width: calc(300px + var(--extra-space) / 3);
}

/* Adjust proportions when engDefinition is absent */
.wordContainer:not(:has(.engDefinition)) {
  --extra-space: 280px;
}

.wordContainer:not(:has(.engDefinition)) .word {
  width: calc(170px + var(--extra-space) / 7);
}

.wordContainer:not(:has(.engDefinition)) .meaning {
  width: calc(225px + var(--extra-space) / 5);
}

.wordContainer:not(:has(.engDefinition)) .synonym {
  width: calc(225px + var(--extra-space) / 4);
}

.wordContainer:not(:has(.engDefinition)) .exmInSen {
  width: calc(300px + var(--extra-space) / 3);
}

/* Adjust proportions when both synonym and engDefinition are absent */
.wordContainer:not(:has(.synonym)):not(:has(.engDefinition)) {
  --extra-space: 475px;
}

.wordContainer:not(:has(.synonym)):not(:has(.engDefinition)) .word {
  width: calc(170px + var(--extra-space) / 7);
}

.wordContainer:not(:has(.synonym)):not(:has(.engDefinition)) .meaning {
  width: calc(225px + var(--extra-space) / 4);
}

.wordContainer:not(:has(.synonym)):not(:has(.engDefinition)) .exmInSen {
  width: calc(300px + var(--extra-space) / 3);
}
